body {
  background-color:rgb(167, 224, 247);
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  color: #29595f;
}

.image {
height: 130px;
width: 130px;
margin-top: 0px;
margin-left: 130px;
}


ul {
  text-align: center;
  list-style: none;
  font-family: 'Patrick Hand', cursive;
  font-size: 25px;
  border-style: ridge;
  border-width: 3px;
  border-color: rgb(62, 206, 199);
  border-radius: 7px;
  background-color: lightblue;
  position: absolute;
  top: 120px;
  left: 100px;
        
 }
 
li a {
color: #544738;
text-decoration: none;
float: left;
padding: 10px;
}

li a:hover {
color: #7eb9be;
}
.left a:hover {

  /*Transition*/ 
  -webkit-transition:All .5s ease;
  -moz-transition:All .5s ease;
  -o-transition:All .5s ease;
  
  /*Transform*/ 
  -webkit-transform: rotate(-10deg) scale(1.2);
  -moz-transform: rotate(-10deg) scale(1.2);
  -o-transform: rotate(-10deg) scale(1.2);
 }
  
 .right a:hover {
  
  /*Transition*/ 
  -webkit-transition:All .5s ease;
  -moz-transition:All .5s ease;
  -o-transition:All .5s ease;
  
  /*Transform*/ 
  -webkit-transform: rotate(10deg) scale(1.2);
  -moz-transform: rotate(10deg) scale(1.2);
  -o-transform: rotate(10deg) scale(1.2);
 }
                   
                       
                

        	